[v-cloak] {
  display: none;
}

/*
flex box
*/

#app {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app div.content {
  width: 120%;
  margin: 0 auto;
  max-width: 500px;
}
