<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Vue.js Test</title>

</head>

<body>
  <div id="app">

    <input type="text" v-model:value="message">
    <input type="text" v-model:value="message">

    <p>
      {{ message }}
    </p>
    <button v-on:click="hello">
      Click!
    </button>
    <pre>{{ $data }}</pre>

    <p v-if="toggle">
      <a v-bind:href="url">Vue.js</a>
    </p>

    <p v-show="toggle">
      <a v-bind:href="url"> Vue.js </a>
    </p>

    <ol>
      <li v-for="language in languages">
        {{ language }}
      </li>
    </ol>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <script>

    let tst = 'Hello Vue.js!';

    var app = new Vue({
      el: '#app',
      data: {
        message: tst,
        url: 'https://jp.vuejs.org/',
        toggle: true,
        languages: ['JavaScript', 'Ruby', 'Python']
      },
      methods: {
        hello: function () {
          this.message = 'click!';
        }
      }
    })
  </script>

</body>

</html>